main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 60vh;

    ol {
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 10px 0 10px 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            list-style: circle;

            a {
                color: rgb(83, 6, 99);
            }
        }
    }
    #clear-cart {
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        transition: all 0.1s;
        padding: 10px 30px;
        background-color: rgb(252, 53, 53);
        color: white;
        border-color: red;
        margin: 10px;
    }

    #clear-cart:active {
        background-color: rgb(150, 10, 10);
        color: white;
        border-color: rgb(150, 10, 10);
    }
}