@import "variables";
@import "reset";
@import "headerAndFooter";
@import "scrollAndMedia";
/* =========================
     Main
  ========================= */
main {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: fit-content;
  width: 100%;
  background-color: $main-background-color;

  #prodactDetailes {
    position: relative;
    width: 80%;
    height: 120vh;
    // overflow: hidden;
    .slider-window {
      width: 100%;
      height: 45%;
      overflow: hidden;

      .slider-track {
        display: flex;
        height: 100%;
        transition: transform 0.8s ease-in-out;
        will-change: transform;

        .hero-slide {
          min-width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          .hero-content {
            color: $second-font-color;
            text-align: center;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    /* Slider arrows */
    .hero-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      background: rgba(0, 0, 0, 0.35);
      color: $second-font-color;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .hero-arrow.prev {
      left: 12px;
    }
    .hero-arrow.next {
      right: 12px;
    }

    /* Slider indicators */
    .indicators {
      position: absolute;
      bottom: 49%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 8px;
      z-index: 10;

      .dot {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: rgba(95, 95, 95, 0.45);
        cursor: pointer;
      }
      .dot.active {
        background: rgb(0, 0, 0);
      }
    }
    #detailes {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30%;
      h4 {
        // font-size: 0.9rem;
        font-weight: 700;
      }
      .quantity-wrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .btn-qty {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
      }
      .qty-input {
        width: 120px;
        text-align: center;
        font-size: 1.1rem;
      }
      .btns {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100.2%;
        justify-content: space-between;
        #sendWhatsapp {
          border: 1px solid rgb(0, 0, 0);
          border-radius: 10px;
          transition: all 0.3s;
          padding: 10px;
          width: 100%;
          background-color: rgb(255, 255, 255);
          .fa-cart-shopping{
           color: rgb(55, 105, 26);
          }
        }
        #sendWhatsapp:active{
          border-color:rgb(55, 105, 26) ;
          background-color: rgb(55, 105, 26);
          color: white;

        }
        #sendWhatsapp:active .fa-cart-shopping{
         color: rgb(255, 255, 255);
        }
        #addToWishlist {
          border: 1px solid rgb(0, 0, 0);
          border-radius: 10px;
          transition: all 0.3s;
          padding: 10px;
          width: 100%;
          background-color: rgb(255, 255, 255);
          color: rgb(0, 0, 0);
          .fa-heart{
            color: $main-color;
          }

        }
        #addToWishlist:active{
         border-color: $main-color; 
          background-color: $main-color;
          color: white;
        }
        #addToWishlist:active .fa-heart{
          color: white;
        }
      }

      #price {
        display: flex;
        gap: 8px;
        .newPrice {
          color: rgb(190, 50, 50);
          display: inline-block;
        }
        .oldPrice {
          text-decoration: line-through;
          color: gray;
          display: inline-block;
        }
      }
    }
  }
}